* {
  font-family: 'sorkin type' fantasy;
}

header nav li {
  list-style: none;
}

main {
  margin-left: 230px;
}

h4 {
  margin-left: 285px;
}

#pats {

}

#chinook {
  width: 200px;
}

#frosted {
  width: 200px;
}

#wacky {
  width: 200px;
}

#fish {
  width: 250px;
  float: left;
  padding: inherit;
}

#pats {
  margin-left: 500px;
}

#right-clicks {
  /*float: right;*/
  margin-left: 1100px;

}

#section1 {
  /*padding-left: 200px;*/
  display: inline;
  margin-right: 500px
  list-style: none;
}

#section2 {
  text-align: center;
  display: inline-block;
  list-style: none;
}
body {
  background: #ccc;

}
